*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
}
.logo{
    font-size: 35px;
}
.logo a{
    color: black;
    text-decoration: none;
}
.header{
    display: flex;
    padding-top: 15px;
    justify-content: space-around;
    padding-bottom: 20px;
}
/* .links a.active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 4px;
    background-color: rgb(155, 17, 17);
    border-radius: 3px;
} */
 .fa-bars{
    display: none;
 }
 .bar{
    display: none;
 }
.links a{
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 20px;
}
.button a{
    color: black;
    text-decoration: none;
 }
.links{
    gap: 20;
}
/* .links a .line hr{
    border: 2px solid red;
    width: 50px;
} */
/* .button .fa-magnifying-glass{
    margin-left: 120px;
    font-size: 23px;
    margin-right: 3px;
} */
.button input{
    width: 150px;
    border-radius: 15px;
    padding: 4px;
    margin-right: 80px;
    /* border: 1px solid black; */
}
/* list poton */
.training{
    position: relative;
    display: inline-block;
}

.list{
    display: none;
    position: absolute;
    background-color: rgb(223, 139, 153);
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.list a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.list a:hover {
    background-color: pink;
}
.training:hover .list {
    display: block;
}
/* ------ */
.training-1{
    position: relative;
    display: inline-block;
}

.list-1{
    display: none;
    position: absolute;
    background-color: rgb(223, 139, 153);
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.list-1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.list-1 a:hover {
    background-color: pink;
}
.training-1:hover .list-1 {
    display: block;
}
.first-main{
    padding: 20px;
    background-color: rgb(212, 210, 210);
}
.first-main p{
    font-size: 25px;
}
.second-main{
    padding: 30px;
}
.second-main p{
    font-size: 20px;
}
.second-main a{
    color: rgb(4, 40, 105);
    text-decoration: none;
}
.second-main a:hover{
    text-decoration: underline;
}
h1{
    padding-left: 20px;
}
.third-main{
    display: flex;
    justify-content: space-evenly;
}
.third-main a{
    text-decoration: none;
    color: rgb(3, 32, 95);
}
.third-main a:hover{
    text-decoration: underline;
}

.box-1{
    padding: 10px;
    margin: 10px;
    width: 20%;
    border: 1px solid gray;
}
.top-1 img{
    object-fit: contain;
    width: 240px;
    height: 230px;
}
.bottom-1{
    text-align: center;
}
.box-1:hover{
    border: 2px solid gray;
}
.bottom-1 p{
    font-size: 20px;
}

.box-2{
    padding: 10px;
    margin: 10px;
    width: 20%;
    border: 1px solid gray;
}
.top-2 img{
    object-fit: contain;
    width: 240px;
    height: 230px;
}
.bottom-2{
    text-align: center;
}
.box-2:hover{
    border: 2px solid gray;
}
.bottom-2 p{
    font-size: 20px;
}

.box-3{
    padding: 10px;
    margin: 10px;
    width: 20%;
    border: 1px solid gray;
}
.top-3 img{
    object-fit: contain;
    width: 240px;
    height: 230px;
}
.bottom-3{
    text-align: center;
}
.box-3:hover{
    border: 2px solid gray;
}
.bottom-3 p{
    font-size: 20px;
}
.fourth-main{
    padding: 20px 20px 20px 40px
}
.fourth-main p{
    font-size: 20px;
}
.footer{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(194, 16, 16);
    color: white;
}
.foo-left h2{
    margin-left: 40px;
}
.foo-left p{
    margin-left: 40px;
}
.foo-left button{
    background-color: red;
    border-radius: 15px;
    padding: 8px;
    border: none;
    color: white;
    margin-left: 70px;
}
.foo-left button:hover{
    background-color: rgb(139, 17, 17);
    padding: 9px;
}
.foo-right{
    margin-left: 80px;
}
.Follow{
    display: flex;
    /* padding: 30px; */
    /* justify-content: space-evenly; */
}.linkdin{
    padding: 20px;
}
.instagram{
    padding: 20px;
}
.youtube{
    padding: 20px;
}
.twitter{
    padding: 20px;
}
.facebook{
    padding: 20px;
}
.fa-linkedin{
    font-size: 30px;
    margin-bottom: 10px;
}
.fa-instagram{
    font-size: 30px;
    margin-bottom: 10px;
}
.fa-youtube{
    font-size: 30px;
    margin-bottom: 10px;
}
.fa-square-x-twitter{
    font-size: 30px;
    margin-bottom: 10px;
}
.fa-facebook{
    font-size: 30px;
    margin-bottom: 10px;
}
.last-footer{
    background-color: rgb(126, 17, 17);
    color: white;
    font-size: 13px;
    padding: 20px;
}
.last-footer a{
    color: white;
}
.Follow a{
    color: white;
    text-decoration: none;
}
.Follow a:hover{
    text-decoration: underline;
}
.fa-bars{
    display: none;
}
@media screen and  (min-width:230px) and (max-width:790px){
    .fa-bars{
        display: flex;
        font-size: 30px;
        color: black;
        margin-left: 10px;
    }
    .bar{
        display: flex;
    }
    .logo{
        font-size: 25px;
    }
    .links{
        display: none;
    }
    .button input{
        width: 100px;
        margin-right: 0px;
    }
    .third-main{
        flex-direction: column;
    }
    .third-main, .box-1, .box-2, .box-3{
        width: 80%;
        border: none;
    }
    .third-main img{
        margin-left: 20px;
    }
    .footer{
        flex-direction: column;
        margin-left: 0px;
        padding-left: 0px;
    }
    pre{
        display: none;
    }
    .Follow{
        margin-left: 0px;
        padding-left: 0px;
    }
    .foo-right{
        padding-left: 0px;
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .foo-right h2{
        margin-left: 50px;
        font-size: 30px;
    }
    .foo-left h2{
        font-size: 30px;
        font-weight: 40px;
    }
    .foo-left p{
        font-size: 20px;
    }
    .foo-left button{
        margin-bottom: 40px;
        margin-left: 150px;
        padding: 14px;
        width: 100px;
    }
    .twitter{
        display: none;
    }
    .facebook{
        display: none;
    }
    .linkdin{
        margin-left: 30px;
    }
    .fa-linkedin{
        margin-left: 10px;
    }
    .fa-instagram{
        margin-left: 10px;
    }
    .fa-youtube{
        margin-left: 10px;
    }
}

@media screen and  (min-width:790px) and (max-width:1150px){
    .bar{
        display: flex;
    }
    .fa-bars{
        display: flex;
        font-size: 30px;
        color: black;
        margin-left: 10px;
    }
    .logo{
        font-size: 25px;
    }
    .links{
        display: none;
    }
    .button input{
        width: 100px;
        margin-right: 0px;
    }
    .third-main{
        justify-content: space-between;
    }
    .third-main, .box-1, .box-2, .box-3{
        width: 60%;
        border: none;
    }
    .third-main img{
        margin-left: 20px;
    }
    .footer{
        flex-direction: column;
        margin-left: 0px;
        padding-left: 0px;
    }
    pre{
        display: none;
    }
    .Follow{
        margin-left: 0px;
        padding-left: 0px;
    }
    .foo-right{
        padding-left: 0px;
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .foo-right h2{
        margin-left: 50px;
        font-size: 30px;
    }
    .foo-left h2{
        font-size: 30px;
        font-weight: 40px;
    }
    .foo-left p{
        font-size: 20px;
    }
    .foo-left p br{
        display: none;
    }
    .foo-left button{
        margin-bottom: 40px;
        margin-left: 150px;
        padding: 14px;
        width: 100px;
    }
    .linkdin{
        margin-left: 30px;
    }
    .fa-linkedin{
        margin-left: 10px;
    }
    .fa-instagram{
        margin-left: 10px;
    }
    .fa-youtube{
        margin-left: 10px;
    }
}